/**
 * Class Spell Buttons
 */
.dnd5e2.sheet.actor .spellcasting-card-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

/**
 * Optional Bonuses
 */
.dnd5e2 .standard-form .optional-bonuses .form-group:not(.label-top) > .form-fields,
.dnd5e2.standard-form .optional-bonuses .form-group:not(.label-top) > .form-fields {
  flex: 1;
}

/**
 * Token HUD
 */
#token-hud .status-effects.two-columns {
  /*--effect-size: 28px;*/
  grid-template-columns: repeat(2, 120px);

  .effect-control {
    display: flex;
    width: auto;
  }

  p {
    margin-left: 5px;
  }
}
